<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.CarNote">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_carnote"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_carnote_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PossanteÁlcoolOuGasolina">
        <activity android:name=".activity.activitys.TutorialActivity"></activity>
        <activity android:name=".activity.activitys.AddGastosComOCarroActivity" />
        <activity
            android:name=".activity.activitys.GastoComOCarroActivity"
            android:label="@string/title_activity_gasto_com_o_carro"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PossanteÁlcoolOuGasolina.NoActionBar" />
        <activity
            android:name=".activity.activitys.AlcoolOuGasolinaResultado"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activitys.ConsumoPorLitroResultado"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activitys.AlcoolOuGasolina"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activitys.ConsumoPorLitro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activitys.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activitys.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9067087122803339~9743228112" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>